<h1>IRIS Home</h1>

<a href="users">Manage Users</a>
<a href="devices">Manage Devices</a>
<a href="user_devices">Manage User - Device Relationships</a>
<a href="mac_addresses">Manage MAC Addresses</a>
<a href="user_macs">Manage User - MAC Address Relationships</a>
